.bloc-centre {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

.bloc-centre img {
	width: 272px;
}

.bloc-center input [type=text]{
	width: 200%;
	box-sizing: border-box;
}